extends ./layout.jade

block append css
  link(rel='stylesheet' href='/assets/css/emulator.css')
  link(rel='stylesheet' href='/assets/css/index.css')

block content
  h1.header.text-center
    span.pre-wrap.highlight(oz-text='Verb')
    |  environment variables like you 
    span.pre-wrap.highlight(oz-text='verb')
    |  code

  .row
    .col-lg-6
      .window.mac
        .title-bar
          .exit
          .minimize
          .zoom
          .title
            | Terminal &mdash; bash
        .page
          .terminal(oz-evt='keypress:type;keydown:keydown;focus:focus' tabindex='0')
            .line
              span.main-prompt $
              span.command
                |  spore
              span.arguments
                |  set -p VERB
            .line.prompt
              | === spore-splash
            .line.prompt
              | development:
            .line.prompt
              |   DOMAIN:
              span.data
                |  spore.dev
            .line.prompt
              |   VERB:
              span.data
                |  test
            .line.prompt
              | production:
            .line.prompt
              |   DOMAIN:
              span.data
                |  spore.sh
            .line.prompt
              |   VERB:
              span.data
                |  
                span.pre-wrap(oz-text='verb')
                span.cursor
    .col-lg-6
      .window.mac
        .title-bar
          .exit
          .minimize
          .zoom
          .title.document
            | .spore &mdash; spore-splash
        .page
          .editor.json
            .line
              | {
            .line
              |   "name": "spore-splash",
            .line
              |   "id": "
              span(oz-text='appId')
              | ",
            .line
              |   "envs": {
            .line
              |     "development": {
            .line
              |       "DOMAIN": "
              span(oz-text='developmentDomainId')
              | ",
            .line
              |       "VERB": "
              span(oz-text='developmentVerbId')
              | "
            .line
              |     },
            .line
              |     "production": {
            .line
              |       "DOMAIN": "
              span(oz-text='domainId')
              | ",
            .line
              |       "VERB": "
              span(oz-text='verbId')
              | "
            .line
              |     }
            .line
              |   }
            .line
              | }


block append scripts
  script(src='/assets/javascripts/vendor/uuid.js')
  script(src='/assets/javascripts/index.js')
