extends ./layout.jade

block append css
  link(rel='stylesheet' href='/css/emulator.css')
  link(rel='stylesheet' href='/css/index.css')

block content
  h1.header.text-center
    span.pre-wrap.highlight(oz-text='Verb')
    |  environment variables like you 
    span.pre-wrap.highlight(oz-text='verb')
    |  code

  .row
    .col-lg-6
      .window.mac
        .title-bar
          .exit
          .minimize
          .zoom
          .title
            | Terminal &mdash; bash
        .page
          .terminal(style='height:23em;', oz-evt='keypress:type;keydown:keydown;focus:focus' tabindex='0')
            .line
              span.main-prompt $
              span.command
                |  spore
              span.arguments
                |  set -p VERB
            .line.prompt
              | === spore-splash
            .line.prompt
              | development:
            .line.prompt
              |   VERB:
              span.data
                |  test
            .line.prompt
              | production:
            .line.prompt
              |   VERB:
              span.data
                |  
                span.pre-wrap(oz-text='verb')
                span.cursor
    .col-lg-6
      .window.mac
        .title-bar
          .exit
          .minimize
          .zoom
          .title.document
            | .spore &mdash; spore-splash
        .page
          .editor.json(style='height:23em;')
            .line
              | {
            .line
              |   "name": "spore-splash",
            .line
              |   "id": "
              span(oz-text='appId')
              | ",
            .line
              |   "envs": {
            .line
              |     "development": {
            .line
              |       "DOMAIN": "
              span(oz-text='developmentDomainId')
              | ",
            .line
              |       "VERB": "
              span(oz-text='developmentVerbId')
              | "
            .line
              |     },
            .line
              |     "production": {
            .line
              |       "DOMAIN": "
              span(oz-text='domainId')
              | ",
            .line
              |       "VERB": "
              span(oz-text='verbId')
              | "
            .line
              |     }
            .line
              |   }
            .line
              | }
  .row.cta
    .col-lg-3.col-lg-offset-3.col-md-4.col-md-offset-2.col-sm-6
      a.btn.btn-primary.btn-lg.btn-block(href='/documentation#installation')
        | Install v0.7.1
    .col-lg-3.col-md-4.col-sm-6
      a.btn.btn-default.btn-lg.btn-block(href='#seamless')
        | Work Seamlessly 
        i.fa.fa-chevron-down

  .row.section#seamless
    .col-md-12
      .row
        .col-md-12
          h1.text-center Develop and deploy across multiple environments
            span.highlight  seamlessly
            | .
          p.lead.text-center
            | Set variables once, and every server loads its correct environment.
        .col-lg-6
          h3.text-center.highlight Develop
          .window.mac
            .title-bar
              .exit
              .minimize
              .zoom
              .title
                | Terminal &mdash; ruby
            .page
              .terminal(style='min-height:20em;')
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  set -p SECRET
                .line.prompt
                  | === your-app
                .line.prompt
                  | development:
                .line.prompt
                  |   SECRET:
                  span.data
                    |  fake-dev-key
                .line.prompt
                  | production:
                .line.prompt
                  |   SECRET:
                  span.data
                    |  secret-production-key
                .line.data
                  | SECRET set for your-app/development,production
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  rails
                  span.arguments
                    |  console
                .line.data
                  | Loading development environment (Rails 4.2.0)
                .line.data
                  | irb(main):001:0> 
                  span.arguments
                    | ENV
                    span.data [
                    span.string "SECRET"
                    span.data ]
                .line.data
                  | => 
                  span.string "fake-dev-key"
        .col-lg-6
          h3.text-center.highlight Deploy
          .window.mac
            .title-bar
              .exit
              .minimize
              .zoom
              .title
                | Terminal &mdash; ssh
            .page
              .terminal(style='min-height:20em;')
                .line
                  span.main-prompt $
                  span.command
                    |  ./deploy_app.sh
                .line
                  | your-app deployed to production-server.example
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  ssh
                  span.arguments
                    |  you@production-server.example
                .line.data
                  | you@production-server.example's password:
                .line.data
                  | Welcome to your production server
                .line.data
                  | 
                .line.data
                  | Last login 
                  span(oz-text='yesterday')
                .line
                  span.main-prompt
                    | you@production-server.example:~$ 
                  span.command rails 
                  span.arguments console
                .line.data
                  | Loading development environment (Rails 4.2.0)
                .line.data
                  | irb(main):001:0> 
                  span.arguments
                    | ENV
                    span.data [
                    span.string "SECRET"
                    span.data ]
                .line.data
                  | => 
                  span.string "secret-production-key"

  .row.cta
    .col-lg-3.col-lg-offset-3.col-md-4.col-md-offset-2.col-sm-6
      a.btn.btn-primary.btn-lg.btn-block(href='/documentation#installation')
        | Install v0.7.1
    .col-lg-3.col-md-4.col-sm-6
      a.btn.btn-default.btn-lg.btn-block(href='#in-sync')
        | Stay in sync 
        i.fa.fa-chevron-down

  .row.section#in-sync
    .col-md-12
      .row
        .col-md-12
          h1.text-center Keep your code and your environment in 
            span.highlight sync
            | .
          p.lead.text-center Changes to an environment don't go live until the code does.
        .col-lg-12
          .window.mac
            .title-bar
              .exit
              .minimize
              .zoom
              .title
                | Terminal &mdash; ruby
            .page
              .terminal
                .line
                  span.main-prompt $
                  span.command
                    |  rails
                  span.arguments
                    |  console
                .line.data
                  | Loading development environment (Rails 4.2.0)
                .line.data
                  | irb(main):001:0> 
                  span.arguments
                    | ENV
                    span.data [
                    span.string "DATABASE_URL"
                    span.data ]
                .line.data
                  | => 
                  span.string "mysql://localhost/your-app_development"
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  git
                  span.arguments
                    |  checkout -b switch_to_postgres
                .line.data Switched to a new branch 'switch_to_postgres'
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  set -p DATABASE_URL
                .line.prompt
                  | === your-app
                .line.prompt
                  | development:
                .line.prompt
                  |   DATABASE_URL:
                  span.data
                    |  postgresql://localhost/your-app_development
                .line.prompt
                  | production:
                .line.prompt
                  |   DATABASE_URL:
                  span.data
                    |  postgres://skebnsvfvzeuvl:sUCLlpqx0W0IjFre8p5qMlHLFW@database-server.example:5432/d7r012dbbj2il8
                .line.data
                  | DATABASE_URL set for your-app/development,production
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  git
                  span.arguments
                    |  commit -am
                  span.options
                    |  "add new postgres urls"
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  rails
                  span.arguments
                    |  console
                .line.data
                  | Loading development environment (Rails 4.2.0)
                .line.data
                  | irb(main):001:0> 
                  span.arguments
                    | ENV
                    span.data [
                    span.string "DATABASE_URL"
                    span.data ]
                .line.data
                  | => 
                  span.string "postgresql://localhost/your-app_development"
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  git
                  span.arguments
                    |  checkout master
                .line.data Switched to branch 'master'
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  rails
                  span.arguments
                    |  console
                .line.data
                  | Loading development environment (Rails 4.2.0)
                .line.data
                  | irb(main):001:0> 
                  span.arguments
                    | ENV
                    span.data [
                    span.string "DATABASE_URL"
                    span.data ]
                .line.data
                  | => 
                  span.string "mysql://localhost/your-app_development"

  .row.cta
    .col-lg-3.col-lg-offset-3.col-md-4.col-md-offset-2.col-sm-6
      a.btn.btn-primary.btn-lg.btn-block(href='/documentation#installation')
        | Install v0.7.1
    .col-lg-3.col-md-4.col-sm-6
      a.btn.btn-default.btn-lg.btn-block(href='#collaborate')
        | Collaborate 
        i.fa.fa-chevron-down

  .row.section#collaborate
    .col-md-12
      .row
        .col-md-12
          h1.text-center
            span.highlight Collaborate
            |  without compromising security.
          p.lead.text-center Share your app with anyone without sharing your app's secrets.
        .col-lg-6
          h3.text-center.highlight You
          .window.mac
            .title-bar
              .exit
              .minimize
              .zoom
              .title
                | Terminal &mdash; bash
            .page
              .terminal(style='min-height:20em;')
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  set -p SECRET
                .line.prompt
                  | === your-app
                .line.prompt
                  | development:
                .line.prompt
                  |   SECRET:
                  span.data
                    |  fake-dev-key
                .line.prompt
                  | production:
                .line.prompt
                  |   SECRET:
                  span.data
                    |  secret-production-key
                .line.data
                  | SECRET set for your-app/development,production
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  grant contractor@production-server.example
                .line.data
                  | Read access for your-app/development granted for contractor@production-server.example
        .col-lg-6
          h3.text-center.highlight Your Collaborator
          .window.mac
            .title-bar
              .exit
              .minimize
              .zoom
              .title
                | Terminal &mdash; bash
            .page
              .terminal(style='min-height:20em;')
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  get --environment development
                .line.data
                  | === your-app
                .line.data
                  | development:
                .line.data
                  |   SECRET: fake-dev-key
                .line
                  | 
                .line
                  span.main-prompt $
                  span.command
                    |  spore
                  span.arguments
                    |  get --environment production
                .line.error
                  | You haven't been granted read access on your-app/production

  .row.cta
    .col-lg-3.col-lg-offset-3.col-md-4.col-md-offset-2.col-sm-6
      a.btn.btn-primary.btn-lg.btn-block(href='/documentation#installation')
        | Install v0.7.1
    .col-lg-3.col-md-4.col-sm-6
      a.btn.btn-default.btn-lg.btn-block(href='/documentation')
        | Read the Docs

block append scripts
  script(src='/javascripts/vendor/uuid.js')
  script(src='/javascripts/index.js')
