doctype html
html
  head
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    block css
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
      link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:600,800,400,200' type='text/css')
      link(rel='stylesheet' href='/css/layout.css')
    block title
      title Spore: Environment Variables in the 21st Century
  body
    #background
    nav.navbar.navbar-default.navbar-fixed-top#nav(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', oz-evt='click:collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(class=index ? 'active' : '', href='/', title='Spore')
            .navbar-logo
        .navbar-collapse(oz-attr='class:collapse')
          ul.nav.navbar-nav.navbar-left
            li(oz-attr='class:seamlessActive')
              a(href='/#seamless') Work Seamlessly
            li(oz-attr='class:inSyncActive')
              a(href='/#in-sync') Stay In Sync
            li(oz-attr='class:collaborateActive')
              a(href='/#collaborate') Collaborate
          ul.nav.navbar-nav.navbar-right
            li(class=documentation ? 'active' : '')
              a(href='/documentation') Docs
            li
              a(href='/documentation#installation') Install

    .container#main
      block content

    footer
      .container
        .row
          .col-md-4
            h3.text-center
              a(href='https://github.com/spore-sh')
                i.fa.fa-github.fa-2x
                |  GitHub
          .col-md-4
            h3.text-center
              a(href='https://twitter.com/tgriff3')
                i.fa.fa-twitter.fa-2x
                |  Twitter
          .col-md-4
            h3.text-center
              a(href='mailto:hello@spore.sh')
                i.fa.fa-envelope.fa-2x
                |  Email
    block scripts
      script(src='/javascripts/vendor/oz-bundle.min.js')
      script(src='/javascripts/vendor/ready.min.js')
      script(src='/javascripts/vendor/checkvisible.js')
      script(src='/javascripts/visible-elements.js')
      script(src='/javascripts/nav.js')
