/*
  http://coolors.co/app/313131-638f57-baf2bb-f9f8f8-cdd3ce

  background: #313131;
  accent: #638f57;
  accent-compliment: #f9f8f8;
  text: cdd3ce;
  text-highlight: #baf2bb;
 */

body {
  padding-top: 70px;
  background: #313131 url(/images/escheresque_ste-trans.png);
  color: #cdd3ce;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #638f57;
}

.navbar {
  background: #638f57;
  border: none;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.navbar-logo {
  height: 31px;
  width: 92px;
  margin-top: -7px;
  background-image: url(/images/lower-spore-logo-light-gray.png);
  background-size: 92px 31px;
  display: inline-block;
}

.navbar .navbar-nav > .active a,
.navbar .navbar-nav > .active a:hover,
.navbar .navbar-nav > li > a:hover {
  background-color: #f9f8f8;
  color: #638f57;
}

.navbar .navbar-nav > li > a {
  color: #f9f8f8;
}

.navbar .navbar-toggle {
  border-color: #f9f8f8;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #f9f8f8;
}

.navbar .navbar-toggle:hover {
  background-color: #f9f8f8;
}

.navbar .navbar-toggle:hover .icon-bar {
  background-color: #638f57;
}

.nav-pills > li a:hover,
.nav-pills > li a:active,
.nav-pills > li a:focus,
.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:active,
.nav-pills > li.active a:focus {
  color: #f9f8f8;
  background-color: #638f57; 
}

.panel {
  background-color: #f9f8f8;
  color: #313131;
}

#main {
  min-height: 800px;
}

footer {
  padding: 50px 0;
  margin-top: 50px;
  background: #638f57;
  color: #f9f8f8;
}

footer a,
footer .nav > li > a {
  color: #baf2bb;
}

footer a:hover,
footer .nav > li > a:hover,
footer a:active,
footer .nav > li > a:active,
footer a:focus,
footer .nav > li > a:focus {
  background: none;
  color: #f9f8f8;
  text-decoration: none;
}

.btn-default {
  color: #f9f8f8;
  border-color: #f9f8f8;
  background: transparent;
}

.btn-default:hover {
  background: #f9f8f8;
  border-color: #f9f8f8;;
  color: #638f57;
}

.btn-primary {
  color: #f9f8f8;
  background: #638f57;
  border-color: #638f57;
}

.btn-primary:hover {
  background: #f9f8f8;
  border-color: #f9f8f8;;
  color: #638f57;
}

.btn-lg {
  border-radius: 4px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.highlight {
  color: #baf2bb;
}

.static {
  position: static;
}

pre {
  background-color: #042029;
  border-color: #042029;
  color: #819090;
}

.fa {
  vertical-align: text-top;
  margin: 0 0.2em;
}

.fa-2x {
  line-height: 0.5em;
}
